body {
	margin-top:50px;
	margin-left:150px;
	margin-right:150px;
	font-family: 'Microsoft Yahei','PingFang SC';
	font-size:1.2em;
}

p {
	line-height: 200%;
}

li {
	margin-top:10px;
	list-style:square;
}

a {
	text-decoration: none;
}
a:active{
	color:black;
}
a:visited{
	color: #444;
}

@media screen and (max-width:768px) {
	body {
		margin-top:20px;
		margin-left:25px;
		margin-right:25px;
	}
}