body {
	margin-top:50px;
	margin-left:150px;
	margin-right:150px;
	font-family: 'Microsoft Yahei';
}

p {
	line-height: 200%;
	font-size:1.2em;
	
}

@media screen and (max-width:768px) {
	body {
		margin-top:20px;
		margin-left:25px;
		margin-right:25px;
	}
}