* {
  box-sizing:border-box
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans SC', sans-serif;
}

.main_content {
  position: relative;
  overflow: hidden;
  width:60%;
  margin:auto;
  max-width: 900px;
  min-width:750px;
  top: 0px;
}
a {
  text-decoration: none;
  color: #222;
}
.topnav{
  border: #eee;
  border-style: dotted;
  border-width: 0.001cm;
  height: 200px;
  margin-top: 10px;
}
.topnav::before {
  content:"";
  background-image: url("/theme/images/1234.png");
  background-size:120%;
  background-position: 40% 90%;
  position:absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height:200px;
  opacity:0.75;
  border-radius: 7.5px;
}
.topnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position:relative;
  bottom: -150px;
}

.topnav a {
  float: left;
  display: block;
  color: #d4d4d4;
  text-align: center;
  padding: 14px 16px 14px 14px;
  font-size: 15px;
  background-color: #dddddd0f;
  border-radius: 5px;
  border: #dddddd5b;
  border-style: solid;
  border-width:  0 0.001cm 0 0;
}

.topnav a:hover {
  background-color: #dddddd40;
  color: black;
}

.topnav li.active a{
  color: #2d452e;
  background-color: #dddddd8c;
}


@media screen and (max-width: 750px) {
  .topnav.responsive {
    position: relative;
  }
  .main_content {
    position: relative;
    overflow: hidden;
    width:100%;
    min-width:750px;
    top: 0px;
    left: 0;
  }
  .topnav::before {
    content:"";
    background-image: url("/theme/images/1234.png");
    background-size:120%;
    background-position: 40% 90%;
    position:absolute;
    top: 10px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height:200px;
    opacity:0.75;
    border-radius: 0;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

section#content {
}

h1,h2,h3,h4 {
  font-weight: 500;
}

footer.body{
  margin-left:20%;
}

#post-list li {
  list-style-type: none;
}