* {
  box-sizing:border-box
}
*.no_transition{
  transition: none !important;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans SC', sans-serif;
}
body::-webkit-scrollbar {
  display:none;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height:30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
}



.main_content {
  position: relative;
  overflow:visible;
  width:60%;
  margin:auto;
  max-width: 1200px;
  min-width: 800px;
  top: 0px;
}
.topnav{
  height: 200px;
}
.topnav::before {
  content:"";
  background-image: url("/theme/images/banner.jpg");
  background-size:cover;
  background-position: 40% 90%;
  position:absolute;
  top: 5px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height:200px;
  opacity:0.75;
  border-radius: 7.5px;
}
.topnav ul {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
  position:relative;
  bottom: -154px;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-right:0.5px;
  padding: 14px 16px 14px 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: #9393935b;
  border-style: solid;
  border-width:  0 0.001cm 0 0;
}


@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .main_content {
    min-width: 0px;
    width:100%;
  }
  .topnav::before {
    background-size:cover;
  }
}

footer.body{
  margin-left:20%;
}
ol#post-list {
  padding-inline-start: 0px;
  margin: 0 5px;
  border-radius: 7.5px;
  overflow: hidden;
  box-shadow: 0px 4px 3px 6px #2b8d2f0f;
}
#post-list li {
  list-style-type: none;
  padding: 10px 15px 15px 15px;
}
#post-list li:hover{
  background-color: #fcffef;
}
#post-list li:first-child{
  padding-top:15px;
}
#post-list li:not(:first-child){
  box-shadow: inset 0px 2px 3px 0px #5e4f4f29;
}
#post-list li:last-child{
  padding-bottom: 15px;
}
article h3 {
  margin-bottom: 5px;
  font-weight: 600;
}

/*index.html - article entry background*/
div.absolute_div{
  position: absolute;
  width:100%;
  height:0px;
  overflow:visible;
}
div.article_bg{
  background-image: url('/theme/images/paw.png');
  background-size:100%;
  opacity: 0.5;
  position:relative;
  width: 100px;
  height: 100px;
  bottom:114px;
  float:right;
  margin-right:46px;
}

/*side block*/
div#side_block{
  height:50px;
  width: 50px;
  border-style: dotted;
  border-radius: 25px;
  border-width: 0.07cm;
  float:right;
  padding-top: 5px;
  padding-left: 5px;
  margin: -12px -31px 0 0px;
  border-color: #4a6f4b5a;
  color:#596e4100;
  white-space: nowrap;
  overflow: hidden;
  background-color: #edf3ed36;
  opacity:0.5;
  transition: opacity 0.5s, height 0.5s, width 0.5s, color 0.5s, background-color 0.5s, margin 0.5s;
}
div#side_block ul {
  opacity: 0;
  transition: opacity 0.5s;
}
div#side_block:hover{
  background-color: #edf3ed99;
  height:200px;
  width:150px;
  color:#596e41;
  opacity: 1;
  margin: -12px -131px 0px 0px;
}
div#side_block:hover ul{
  opacity: 1;
}
div#side_block ul{
 list-style-type: none; 
 padding-left: 20px;
 display:block;
}
div.side_block_parent{
  position:absolute;
  overflow:visible;
  width:100%;
  height:0;
}
@media screen and (max-width: 800px) {
  div#side_block{
    margin: -12px -0px 0 0px;
  }
  div#side_block:hover{
    margin: -12px -0px 0 0px;
  }
}



section#article_content{
  margin: 30px 5px;
  background-color: #fcffefbf;
  padding: 1px 20px 1px 30px;
  border-radius: 7.5px;
  min-height: 500px;
  box-shadow: 0px 4px 3px 6px #2b8d2f0f;
}
@media screen and (max-width: 800px) {
  div#side_block{
    margin: -12px -0px 0 0px;
  }
  div.entry-content p{
    text-indent: 1em;
  }
  section#article_content{  
    padding: 1px 10px;
  }
}

section h2{
  margin: 25px 0 10px 5px;
  position: relative;
  z-index: 1;
}
div#gallery,div#page-document{
  margin: 0px 5px 30px 5px;
  background-color: #fcffefbf;
  padding: 1px 20px;
  border-radius: 7.5px;
  min-height: 500px;
  box-shadow: 0px 4px 3px 6px #2b8d2f0f;
  position: relative;
  z-index: 2;
}
div#gallery button{
  width: 100px;
  height: 100px;
  border: 2px solid #639528;
  border-radius: 50px;
  background-color: #f8ffef;
  font-size: 1.5em;
  color:#3d492f;
  cursor:pointer;
}

#c{
  width:100%;
  height:500px;
  display: block;
}